html {
  margin: 0;
  padding: 0;
}

body {
  font-family: lores-12, sans-serif;
  font-style: normal;
  padding: 0;
}

header {
  height: 100vh;
  margin-top: 0;
  width: 100%;
  // background-color: #376462;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#sunspots {
  //mobile
  @media only screen and (max-width: 700px) {
    background-size: 100%;
    background-repeat: repeat;
    mix-blend-mode: hard-light;
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
    opacity: 15%;
    z-index: 1;
  }
  //web
  @media only screen and (min-width: 700px) {
    background-size: 35%;
    background-repeat: repeat;
    mix-blend-mode: hard-light;
    width: 50vw;
    height: 31vh;
    position: absolute;
    pointer-events: none;
    opacity: 15%;
    z-index: 1;
  }
}

#console {
  z-index: 2;
  //mobile
  @media only screen and (max-width: 700px) {
    width: 90vw;
    height: 60vw;
    position: relative;
    top: 25vh;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
  }
//web
  @media only screen and (min-width: 700px) {
    width: 50vw;
    height: 31vw;
    position: relative;
    top: 25vh;
    margin-left: 40vw;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

#landinggroup {
  border-radius: 20px;
  height: 350px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  position: relative;
}

h2 {
  //mobile
  @media only screen and (max-width: 700px) {
    padding: 3vh;
    font-weight: 600;
    border-radius: 30px;
    font-size: 3vw;
    color: #304854;
    text-shadow: -3px 3px #81AC7E;
    margin-bottom: 0;
  }
  //web
    @media only screen and (min-width: 700px) {
    padding: 3vh;
    font-weight: 600;
    border-radius: 30px;
    font-size: 1.75vw;
    color: #304854;
    text-shadow: -3px 3px #81AC7E;
    margin-bottom: 0;
  }
}

p {
  //mobile
  @media only screen and (max-width: 700px) {
    font-weight: 200;
    font-size: 3vw;
    font-style: normal;
    max-width: 80%;
    text-shadow: -3px 3px #81AC7E;
    margin: auto;
    color: #304854;
  }
  //web
  @media only screen and (min-width: 700px) {
    font-weight: 200;
    font-size: 1.5vw;
    font-style: normal;
    max-width: 80%;
    text-shadow: -3px 3px #81AC7E;
    margin: auto;
    color: #304854;
  }
}

#textcluster {
  //mobile
  @media only screen and (max-width: 700px) {
    margin-left: 13vw;
    width: 65vw;
    position: relative;
    margin-right: auto;
    margin-bottom: 25%;
    transform: rotate(15deg);
  }
  //web
  @media only screen and (min-width: 700px) {
    position: relative;
    margin-left: 2.75vw;
    margin-right: auto;
    margin-bottom: 25%;
    width: 100%;
    transform: rotate(15deg);
  }
}

#stutter {
  animation: stutter 2s infinite;
}

.testimg {
  margin: auto;
  width: 40vw;
}

.landerimg {
  height: 100%;
}

@keyframes stutter {
  0% {
    opacity: 100%;
  }
  5% {
    opacity: 0%;
  }
  15% {
    opacity: 100%;
  }
}
